html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

button {
  padding: 0;
  border: 0;
  background-color: transparent;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #252525;
}

.body-inner {
  max-width: 1440px;
  margin: auto;
  background-color: #fff;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Futura";
  src: url("../assets/fonts/futurabookc.otf") format("opentype");
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-wrap {
  width: 40%;
}

.menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-item a {
  font-family: "Futura", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

.contact-phone {
  font-family: "Futura", sans-serif;
  text-transform: none;
  font-size: 14px;
  color: #e3b873;
}

.btn-play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 85px;
  height: 85px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #e3b873;
  z-index: 1;
  -webkit-transition: background-color 1s ease-out 0.1s, z-index 1s ease-out 0.1s;
  transition: background-color 1s ease-out 0.1s, z-index 1s ease-out 0.1s;
}

.btn-play div {
  -webkit-transform: translate(33%);
          transform: translate(33%);
  border: 20px solid transparent;
  border-left: 25px solid #fff;
}

.scroll-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: -48px;
  left: -82px;
  padding: 3% 4%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Yeseva One', cursive;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #fff;
  background-color: #131313;
  cursor: default;
}

.scroll-btn .scroll-btn__inner-icon {
  width: 29px;
  height: 29px;
  margin-left: 15px;
  background: url("../assets/img/scroll-btn-inner-icon.svg") no-repeat;
  cursor: pointer;
}

.aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 82px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside a {
  font-family: "Futura", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #e3b873;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.aside a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 115%;
  width: 50px;
  height: 2px;
  background-color: #e3b873;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #131313;
}

.logo-txt {
  font-family: "Futura", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #e3b873;
  cursor: pointer;
}

.header__wrap {
  display: block;
  width: 94.3%;
}

.header__wrap .header__menu-wrap {
  padding: 2% 7% 2% 0;
}

.header__wrap .header__menu-wrap .menu-btn {
  width: 161px;
  height: 37px;
  border-radius: 2px;
  text-transform: uppercase;
  font-family: "Futura", sans-serif;
  font-size: 13px;
  color: #fff;
  background-color: #e3b873;
  -webkit-box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
          box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
  cursor: pointer;
}

.header__wrap .header__menu-wrap .menu-btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #fff;
}

.header__wrap .header__content {
  position: relative;
  padding: 12% 0 13% 5%;
  background: url("../assets/img/header-layer.png") no-repeat;
}

.header__wrap .header__text-wrap .header__title {
  font-family: 'Yeseva One', cursive;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #fff;
  line-height: 3.2rem;
}

.header__wrap .header__text-wrap .header__title span {
  color: #e3b873;
}

.header__wrap .header__text-wrap p {
  margin: 25px 0 45px;
  font-family: "Futura", sans-serif;
  text-transform: none;
  font-size: 1.37rem;
  color: #fff;
  line-height: 1.9rem;
}

.header__wrap .header__btns-wrap .header__btn-left {
  width: 207px;
  height: 51px;
  border-radius: 2px;
  text-transform: uppercase;
  font-family: "Futura", sans-serif;
  font-size: 0.8rem;
  color: #fff;
  background-color: #e3b873;
  -webkit-box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
          box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
  cursor: pointer;
  margin-right: 20px;
}

.header__wrap .header__btns-wrap .header__btn-left a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #fff;
}

.header__wrap .header__btns-wrap .header__btn-right {
  width: 207px;
  height: 51px;
  border-radius: 2px;
  text-transform: uppercase;
  font-family: "Futura", sans-serif;
  font-size: 0.8rem;
  color: #fff;
  background-color: #e3b873;
  -webkit-box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
          box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
  cursor: pointer;
  border: 1px solid #fff;
  background-color: transparent;
}

.header__wrap .header__btns-wrap .header__btn-right a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #fff;
}

main {
  width: 100%;
}

.projects {
  padding: 8% 0 30% 6%;
  color: #fff;
  background-color: #131313;
  background-image: url("../assets/img/city-Group.png");
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-blend-mode: overlay;
}

@media screen and (max-width: 1170px) {
  .projects {
    padding: 8% 6% 20%;
  }
}

.projects-wrapper {
  position: relative;
}

.projects__main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1170px) {
  .projects__main-block {
    display: block;
  }
}

.projects__main-block .projects__txt {
  display: block;
  width: 37%;
  padding-top: 5%;
}

@media screen and (max-width: 1170px) {
  .projects__main-block .projects__txt {
    width: 100%;
  }
}

.projects__main-block .projects__txt h2 {
  font-family: 'Yeseva One', cursive;
  text-transform: uppercase;
  font-size: 1.7rem;
  color: #e3b873;
  line-height: 2.3rem;
}

.projects__main-block .projects__txt h2 span {
  position: relative;
}

.projects__main-block .projects__txt h2 span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 115%;
  width: 50%;
  height: 1px;
  background-color: #e3b873;
}

.projects__main-block .projects__txt p {
  padding: 8% 15% 0 0;
  font-family: "Futura", sans-serif;
  text-transform: none;
  font-size: 1.1rem;
  color: #fff;
  line-height: 1.8rem;
}

@media screen and (max-width: 1170px) {
  .projects__main-block .projects__txt p {
    padding: 4% 0 0;
  }
}

.projects__main-block .projects__slider {
  position: relative;
  width: 63%;
  padding-top: 5%;
  overflow: hidden;
}

@media screen and (max-width: 1170px) {
  .projects__main-block .projects__slider {
    width: 100%;
  }
}

.projects__main-block .projects__slider .projects__units {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Yeseva One', cursive;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 1170px) {
  .projects__main-block .projects__slider .projects__units {
    position: static;
    margin-bottom: 5%;
  }
}

.projects__main-block .projects__slider .projects__units li {
  cursor: pointer;
}

.projects__main-block .projects__slider .projects__units li:not(:last-child) {
  margin-right: 60px;
}

.projects__main-block .projects__slider .projects__units-1_active {
  position: relative;
  color: #e3b873;
}

.projects__main-block .projects__slider .projects__units-1_active::after {
  content: "";
  position: absolute;
  top: 150%;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #e3b873;
}

.projects__main-block .projects__slider .projects__slider-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects__main-block .projects__slider .projects__slider-img li {
  margin-right: 25px;
}

.projects__main-block .projects__slider .projects__slider-img li img {
  display: block;
}

@media screen and (max-width: 1170px) {
  .projects__main-block .projects__slider .projects__slider-img li img {
    width: 88vw;
  }
}

.projects__main-block .projects__slider .projects__slider-btn-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 4%;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #e3b873;
  background-image: url("../assets/img/arrow-next_white.png");
  background-repeat: no-repeat;
  background-position: center;
}

.projects__addition-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 37%;
}

@media screen and (max-width: 1170px) {
  .projects__addition-info {
    position: static;
    width: 100%;
    margin-top: 5%;
  }
}

.projects__addition-info .projects__points-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.projects__addition-info .projects__point {
  width: 40%;
}

@media screen and (max-width: 1170px) {
  .projects__addition-info .projects__point {
    width: 50%;
  }
}

.projects__addition-info .projects__point p:first-child {
  font-family: 'Yeseva One', cursive;
  text-transform: uppercase;
  font-size: 1.1rem;
  color: #e3b873;
}

.projects__addition-info .projects__point p:last-child {
  padding: 8% 0 25% 0;
  font-family: "Futura", sans-serif;
  text-transform: none;
  font-size: 0.93rem;
  color: #fff;
  line-height: 1.25rem;
}

@media screen and (max-width: 1170px) {
  .projects__addition-info .projects__point p:last-child {
    padding: 5% 0 9% 0;
  }
}

.projects__addition-info .projects__control-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1170px) {
  .projects__addition-info .projects__control-wrap {
    display: none;
  }
}

.projects__addition-info .projects__control-left-arrow {
  width: 42px;
  height: 14px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background-image: url("../assets/img/arrow-raw.png");
  cursor: pointer;
}

.projects__addition-info .projects__control-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.projects__addition-info .projects__control-dot_active {
  width: 13px;
  height: 13px;
  background-color: #fff;
  cursor: pointer;
}

.projects__addition-info .projects__control-right-arrow {
  width: 42px;
  height: 14px;
  background-image: url("../assets/img/arrow-raw.png");
  cursor: pointer;
}

.on-control {
  position: relative;
  top: -320px;
  text-align: center;
  background-color: transparent;
}

.on-control .form .form__flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 53%;
  margin: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.on-control .form label {
  display: block;
  text-align: left;
  font-family: "Futura", sans-serif;
  text-transform: none;
  font-size: 0.9rem;
  color: rgba(54, 54, 54, 0.5);
}

.on-control .form input[type="text"],
.on-control .form input[type="number"] {
  padding-bottom: 5px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  font-family: "Futura", sans-serif;
  text-transform: none;
  font-size: 1.1rem;
  color: #363636;
}

.on-control .form .form__checkbox {
  margin-top: 2%;
}

.on-control .form .form__checkbox .form__checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #181818;
}

.on-control .form .form__checkbox input {
  position: absolute;
  width: 0;
  height: 0;
}

.on-control .form .form__checkbox input:checked .form__checkmark {
  position: absolute;
  top: -3px;
  left: 40%;
  width: 18px;
  height: 18px;
  background-color: #e3b873;
  cursor: pointer;
}

.on-control .form .form__checkbox input:checked .form__checkmark::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 6px;
  width: 4px;
  height: 7px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.on-control .form .form__checkbox .form__checkmark {
  position: absolute;
  top: -3px;
  left: 40%;
  width: 18px;
  height: 18px;
  background-color: #e3b873;
  cursor: pointer;
}

.on-control .form button {
  width: 200px;
  height: 50px;
  border-radius: 2px;
  text-transform: uppercase;
  font-family: "Futura", sans-serif;
  font-size: 0.9rem;
  color: #fff;
  background-color: #e3b873;
  -webkit-box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
          box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
  cursor: pointer;
}

.on-control .form button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #fff;
}

.on-control__title h2 {
  font-family: 'Yeseva One', cursive;
  text-transform: uppercase;
  font-size: 1.25rem;
  color: #fff;
  line-height: 1.75rem;
}

.on-control__title .on-control__title-icon {
  position: relative;
  width: 37px;
  height: 28px;
  margin: 13px auto 0;
  background: url("../assets/img/online-cam.png") no-repeat;
}

.on-control__title .on-control__title-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 140%;
  width: 32px;
  height: 1px;
  background-color: #e3b873;
}

.on-control__title .on-control__title-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 140%;
  width: 32px;
  height: 1px;
  background-color: #e3b873;
}

.on-control__video {
  position: relative;
  width: 56%;
  height: 435px;
  margin: 2% auto 0;
  -webkit-box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15);
}

.on-control__video::after {
  content: "";
  position: absolute;
  bottom: -62px;
  left: 50%;
  width: 55px;
  height: 2px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #e3b873;
}

.on-control__video iframe {
  width: 100%;
  height: 100%;
}

.on-control__video .on-control__video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  -webkit-transition: background-color 1s ease-out .1s, z-index 1s ease-out .1s;
  transition: background-color 1s ease-out .1s, z-index 1s ease-out .1s;
}

.on-control__video:hover .btn-play,
.on-control__video:hover .on-control__video-overlay {
  background-color: transparent;
  z-index: -1;
}

.on-control__txt {
  width: 680px;
  margin: 8% auto;
  font-family: "Futura", sans-serif;
  text-transform: none;
  font-size: 1.25rem;
  color: #363636;
  line-height: 2.13rem;
}
/*# sourceMappingURL=main.css.map */