.projects-wrapper {
  padding: 8% 0 30%;
  color: $white_color;
  background-color: #131313;
  background-image: url("../assets/img/city-Group.png");
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-blend-mode: overlay;

  @media screen and (max-width: 1170px) {
    padding: 8% 0 0;
    background: $mob_back;
  }

  .section-wrapper {
    position: relative;
  }
}

.projects__left-block {
  display: flex;

  @media screen and (max-width: 1170px) {
    display: block;
  }

  .projects__txt {
    display: block;
    width: 40%;
    padding-top: 5%;

    @media screen and (max-width: 1170px) {
      width: 100%;
      text-align: center;
    }

    h2 {
      @extend %section-title-txt;
    }

    p {
      padding: 8% 20% 0 0;
      @include futura-font(1.1rem, $white_color, none);
      line-height: 1.8rem;

      @media screen and (max-width: 1170px) {
        padding: 4% 0 0;
      }
    }
  }

  .projects__slider {
    position: absolute;
    width: 100%;
    left: 40%;
    padding-top: 5%;

    @media screen and (max-width: 1170px) {
      position: static;
    }

    .projects__units {
      position: absolute;
      top: 0;
      display: flex;
      @include yeseva-font(0.9rem, $grey_color, uppercase);

      @media screen and (max-width: 1170px) {
        position: static;
        margin-bottom: 5%;
      }

      li {
        cursor: pointer;
      }

      li:not(:last-child) {
        margin-right: 60px;
      }
    }

    .projects__units-1_active {
      position: relative;
      color: $gold_color;

      &::after {
        content: "";
        position: absolute;
        top: 150%;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: $gold_color;
      }
    }

    .projects__slider-img {
      display: flex;
      overflow: hidden;

      li {
        margin-right: 25px;

        img {
          display: block;

          @media screen and (max-width: 1170px) {
            width: 88vw;
          }
        }
      }
    }

    .projects__slider-btn {
      position: absolute;
      top: 50%;
      width: 55px;
      height: 55px;
      border-radius: 50%;
      background-color: $gold_color;
      background-image: url("../assets/img/arrow-next_white.png");
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
    }

    .projects__slider-btn_next {
      left: 60%;
      transform: translateY(-50%);

      @media screen and (max-width: 1170px) {
        left: 90%;
      }
    }

    .projects__slider-btn_prev {
      left: 3%;
      transform: rotate(180deg) translateY(50%);

      @media screen and (min-width: 1171px) {
        display: none;
      }
    }
  }
}

.projects__addition-info {
  width: 40%;
  margin-top: 4%;

  @media screen and (max-width: 1170px) {
    position: static;
    width: 100%;
    margin-top: 5%;
  }

  .projects__points-wrap {
    display: flex;
    flex-flow: wrap;
  }

  .projects__point {
    width: 40%;

    @media screen and (max-width: 1170px) {
      width: 50%;
    }

    p:first-child {
      @include yeseva-font(1.1rem, $gold_color, uppercase);
    }

    p:last-child {
      padding: 8% 0 25% 0;
      @include futura-font(0.93rem, $white_color, none);
      line-height: 1.25rem;

      @media screen and (max-width: 1170px) {
        padding: 5% 0 9% 0;
      }
    }
  }

  .projects__pagination {
    @extend %pagination-btn;

    @media screen and (max-width: 1170px) {
      display: none;
    }
  }
}
