.aside {
  display: flex;
  width: 82px;
  align-items: center;

  a {
    @include futura-font(14px, $gold_color, uppercase);
    transform: rotate(90deg);

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 115%;
      width: 50px;
      height: 2px;
      background-color: $gold_color;
    }
  }
}

.header {
  display: flex;
  width: 100%;
  background-color: #131313;
}

.header__wrap {
  display: block;
  width: 94.3%;

  .header__menu-wrap {
    padding: 2% 7% 2% 0;

    .menu-btn {
      @include main-btn(161px, 37px, $font-futura, 13px);
    }
  }

  .header__content {
    position: relative;
    padding: 15% 0 15% 5%;
    background: url("../assets/img/header-layer.png") no-repeat;
  }

  .header__text-wrap {
    .header__title {
      @include yeseva-font(2.5rem, $white_color, uppercase);
      line-height: 3.2rem;
      span {
        color: $gold_color;
      }
    }

    .header__sub-title {
      width: 35%;
      margin: 25px 0 45px;
      @include futura-font(1.37rem, $white_color, none);
      line-height: 1.9rem;
    }
  }

  .header__btns-wrap {
    .header__btn-left {
      @include main-btn(207px, 51px, $font-futura, 0.8rem);
      margin-right: 20px;
    }

    .header__btn-right {
      @include main-btn(207px, 51px, $font-futura, 0.8rem);
      border: 1px solid #fff;
      background-color: transparent;
    }
  }
}
