.aside {
  display: flex;
  width: 82px;
  align-items: center;

  a {
    @include futura-font(14px, $gold_color, uppercase);
    transform: rotate(90deg);

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 115%;
      width: 50px;
      height: 2px;
      background-color: $gold_color;
    }
  }

  @media screen and (max-width: 650px) {
    display: none;
  }
}

.header {
  display: flex;
  width: 100%;
  background-color: #131313;

  @media screen and (max-width: 1170px) {
    background: $mob_back;
  }
}

.header__wrap {
  display: block;
  width: 94.3%;

  @media screen and (max-width: 650px) {
    width: 100%;
  }

  .header__menu-wrap {
    padding: 2% 7% 2% 0;

    @media screen and (max-width: 1070px) {
      padding: 3% 7% 3% 0;
    }

    @media screen and (max-width: 650px) {
      padding: 4% 7%;
    }

    .menu-btn {
      @include main-btn(161px, 37px, $font-futura, 13px);

      @media screen and (max-width: 1070px) {
        display: none;
      }
    }
  }

  .header__content {
    position: relative;
    padding: 15% 0 15% 5%;
    background: url("../assets/img/header-layer.png") no-repeat;

    @media screen and (max-width: 650px) {
      padding: 15% 6% 11%;
    }
  }

  .header__text-wrap {
    .header__title {
      @include yeseva-font(inherit, $white_color, uppercase);
      font-size: 2.5rem;
      line-height: 3.2rem;
      span {
        color: $gold_color;
      }

      @media screen and (max-width: 650px) {
        font-size: 2rem;
      }

      @media screen and (max-width: 450px) {
        font-size: 1.44rem;
        line-height: 1.32;
      }
    }

    .header__sub-title {
      width: 35%;
      margin: 25px 0 45px;
      @include futura-font(inherit, $white_color, none);
      font-size: 1.37rem;
      line-height: 1.9rem;

      @media screen and (max-width: 1070px) {
        width: 85%;
      }

      @media screen and (max-width: 450px) {
        font-size: 1.13rem;
        line-height: 1.32;
      }
    }
  }

  .header__btns-wrap {
    .header__btn-left {
      @include main-btn(207px, 51px, $font-futura, 0.8rem);
      margin-right: 20px;

      @media screen and (max-width: 650px) {
        width: 100%;
        margin: 0 0 5%;
      }
    }

    .header__btn-right {
      @include main-btn(207px, 51px, $font-futura, 0.8rem);
      border: 1px solid #fff;
      background-color: transparent;

      @media screen and (max-width: 650px) {
        width: 100%;
      }
    }
  }
}
