main {
  width: 100%;
}

.projects {
  padding: 8% 0 20% 6%;
  color: $white_color;
  background-color: #131313;
}

.projects-wrapper {
  position: relative;
}

.projects__main-block {
  display: flex;

  .projects__txt {
    display: block;
    width: 37%;
    padding-top: 5%;

    h2 {
      @include yeseva-font(1.7rem, $gold_color, uppercase);
      line-height: 2.3rem;

      span {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 115%;
          width: 50%;
          height: 1px;
          background-color: $gold_color;
        }
      }
    }

    p {
      padding: 8% 22% 0 0;
      @include futura-font(0.9rem, $white_color, none);
      line-height: 1.8rem;
    }
  }

  .projects__slider {
    width: 63%;
    padding-top: 5%;
    overflow: hidden;

    .projects__units {
      position: absolute;
      top: -2%;
      display: flex;
      @include yeseva-font(0.9rem, rgba(255, 255, 255, 0.3), uppercase);

      li {
        cursor: pointer;
      }

      li:not(:last-child) {
        margin-right: 60px;
      }
    }

    .projects__units-1_active {
      position: relative;
      color: $gold_color;

      &::after {
        content: "";
        position: absolute;
        top: 150%;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: $gold_color;
      }
    }

    .projects__slider-img {
      display: flex;

      li {
        margin-right: 25px;

        img {
          display: block;
          width: 38vw;
        }
      }
    }
  }
}

.projects__addition-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 37%;

  .projects__points-wrap {
    display: flex;
    flex-flow: wrap;
  }

  .projects__point {
    width: 40%;

    p:first-child {
      @include yeseva-font(1.1rem, $gold_color, uppercase);
    }

    p:last-child {
      padding: 8% 0 25% 0;
      @include futura-font(0.93rem, $white_color, none);
      line-height: 1.25rem;
    }
  }
}
