.on-control {
  position: relative;

  @media screen and (max-width: 1170px) {
    padding: 6% 0 10%;
    background: $mob_back;
  }

  @media screen and (max-width: 768px) {
    padding: 6% 0 0;
  }
}

.on-control__inner {
  position: absolute;
  top: -300px;
  width: 100%;
  text-align: center;
  color: $dark_color;

  @media screen and (max-width: 1170px) {
    position: static;
    color: $white_color;
  }

  .form {
    position: relative;
    @include form(flex, $grey_color, rgba(54, 54, 54, 0.3));

    button {
      @include main-btn(200px, 50px, $font-futura, 0.9rem);

      &:hover {
        color: $dark_color;
      }
    }
  }
}

.on-control__inner.section-wrapper {
  @media screen and (max-width: 768px) {
    width: 90%;
  }
}

.on-control__title {
  @include section-title-icon($white_color, url("../assets/img/online-cam.png"));
}

.on-control__video {
  position: relative;
  width: 817px;
  height: 435px;
  margin: 2% auto 0;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15);

  @media screen and (max-width: 960px) {
    width: 90%;
    margin: 5% auto 0;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  @media screen and (max-width: 650px) {
    height: 320px;
  }

  @media screen and (max-width: 580px) {
    height: 290px;
  }

  @media screen and (max-width: 450px) {
    height: 210px;
  }

  iframe {
    width: 100%;
    height: 100%;
  }

  .on-control__video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    transition: background-color 1s ease-out 0.1s, z-index 1s ease-out 0.1s;
  }

  &:hover {
    .btn-play,
    .on-control__video-overlay {
      background-color: transparent;
      z-index: -1;
    }
  }
}

.on-control__txt {
  position: relative;
  width: 680px;
  margin: 8% auto;
  @include futura-font(1.25rem, inherit, none);
  line-height: 2.13rem;

  &::before {
    content: "";
    position: absolute;
    top: -30%;
    left: 50%;
    width: 55px;
    height: 2px;
    transform: translate(-50%);
    background-color: $gold_color;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    margin: 9% auto;

    &::before {
      top: -20%;
    }
  }

  @media screen and (max-width: 650px) {
    margin: 11% auto;

    &::before {
      top: -17%;
    }
  }

  @media screen and (max-width: 580px) {

    &::before {
      top: -12%;
    }
  }

  @media screen and (max-width: 450px) {
    font-size: .9rem;
    line-height: 1.58;
  }
}
