.types-repair {
  padding-top: 60%;
  text-align: center;

  @media screen and (max-width: 1170px) {
    padding-top: 6%;
    background: #fff;
  }

  @media screen and (max-width: 768px) {
    padding-top: 17%;
  }
}

.types-repair__title {
  @include section-title-icon(#181818, url("../assets/img/types-repair-icon.png"));
}

.types-repair__gallery {
  @include img-3-col(repeat(3, 1fr), 30px);
}

.types-repair__request {
  display: flex;
  padding: 12% 0 20%;
  justify-content: space-between;

  @media screen and (max-width: 1310px) {
    flex-flow: wrap;
    justify-content: center;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.types-repair__bullets-wrapper {
  position: relative;
  width: 61%;
  height: 640px;
  text-align: left;
  color: $dark_color;

  .types-repair__bullets-round-wrapper {
    position: absolute;
    top: -10%;
    width: 100%;
    height: 100%;
  }

  img {
    position: relative;
    width: 700px;
    top: -10%;
    left: -15%;
    z-index: 11;
  }

  .types-repair__bullets-round {
    position: absolute;
    top: 0;
    left: -34%;
    width: 636px;
    height: 636px;
    padding: 3px;
    border-radius: 50%;
    background: linear-gradient(to right, #fff 30%, $gold_color 120%);

    div {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: #fff;
    }
  }
}

.bullets-tips {
  position: absolute;
  top: 15%;
  width: 100%;
  height: 100%;
  @include futura-font(1.12rem, $dark_color, none);

  li {
    position: absolute;
    display: flex;
    align-items: center;
    background: $white_color;
    box-shadow: 0px 0px 2px 15px #fff;
  }

  .bullets-tips__one {
    top: -4%;
    left: 36%;
  }

  .bullets-tips__two {
    top: 14%;
    left: 46%;
  }

  .bullets-tips__three {
    top: 38%;
    left: 49%;
  }

  .bullets-tips__four {
    top: 61%;
    left: 43%;
  }

  div {
    display: flex;
    width: 42px;
    height: 42px;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    border-radius: 50%;
    @include yeseva-font(1.12rem, $white_color, none);
    background-color: $gold_color;
  }
}

.types-repair__from-wrapper {
  width: 40%;

  @media screen and (max-width: 1310px) {
    width: 70%;
  }
}

.form {
  @include form(block, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.15));
}

.form.form_repair {
  padding: 28px 50px;
  color: $white_color;
  background-color: $back-dark;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);

  p {
    margin-bottom: 40px;
    @include futura-font(1.25rem, $white_color, none);
  }

  .form__main-group:not(:last-child) {
    margin-bottom: 50px;
  }

  .form__checkbox-label {
    justify-content: left;
    transform: translate(-20px);
    margin-top: 17px;
  }

  .vertical-form-btn-wrap {
    text-align: right;
  }

  button {
    margin-top: 40px;
    @include main-btn(213px, 50px, $font-futura, 0.8rem);
  }
}

.motive-txt {
  display: flex;
  align-items: center;
  padding: 38px 0 0 20px;

  .motive-txt__icon {
    display: flex;
    width: 72px;
    height: 72px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: $gold_color;
    box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
  }


  p {
    margin-left: 25px;
    @include futura-font(1.25rem, $gold_color, none);
    text-align: left;
  }
}
