.def-list {
  @include proxima-font(1.25rem, $white_color, none);

  @media screen and (max-width: 1250px) {
    display: none;
  }

  .def-list__item {
    margin-bottom: 27px;
    cursor: pointer;
  }

  .def-list__item_active span {
    position: relative;
    color: $gold_color;

    &::after {
      content: "";
      position: absolute;
      top: 110%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $gold_color;
    }
  }
}
