@mixin form($display, $label_color, $underline, $width_main-group) {
  .form__display {
    display: $display;
    justify-content: center;
  }

  .form__main-group {
    width: $width_main-group;
    height: 45px;
    margin-right: 3%;
    text-align: left;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid $underline;
  }

  label {
    display: block;
    text-align: left;
    @include futura-font(0.9rem, $label_color, none);
  }

  input[type="text"],
  input[type="number"] {
    padding-top: 1%;
    border: 0;
    @include futura-font(1.1rem, inherit, none);
    background-color: transparent;

    &::placeholder {
      color: inherit;
    }
  }

  .form__checkbox {
    margin-top: 2%;

    .form__checkbox-label {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      color: #181818;
    }

    input {
      position: relative;
      left: 18px;
      opacity: 0;

      &:checked + .form__checkmark::after {
        display: block;
      }
    }

    .form__checkmark {
      position: relative;
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      margin-right: 7px;
      border-radius: 2px;
      background-color: $gold_color;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        display: none;
        top: 3px;
        left: 6px;
        width: 4px;
        height: 7px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }
  }
}
