@mixin form($display, $label_color, $underline) {
  @media screen and (min-width: 769px) {
    .btn-mob {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    .btn-mob {
      transform: translateY(25px);
      width: 100%;
    }
  }

  .form__block {
    display: $display;
    justify-content: center;

    @media screen and (max-width: 768px) {
      position: relative;
      display: block;

      .btn-desktop {
        display: none;
      }
    }
  }

  .form__input-block {
    display: $display;
    width: 40%;
    justify-content: space-around;

    @media screen and (max-width: 768px) {
      display: block;
      width: 100%;
    }
  }

  .form__main-group {
    flex-basis: 41%;
    height: 45px;
    text-align: left;

    @media screen and (max-width: 768px) {
      &:first-child {
        margin: 5% 0 11%;
      }
    }

    label {
      display: block;
      text-align: left;
      @include futura-font(0.9rem, $label_color, none);
    }

    input {
      position: relative;
      padding: 2% 0 10px;
      border: 0;
      border-bottom: 1px solid $underline;
      @include futura-font(1.1rem, inherit, none);
      background-color: transparent;
      outline: 0;

      &::placeholder {
        color: inherit;
      }

      @media screen and (max-width: 450px) {
        font-size: 0.9rem;
      }
    }
  }

  .form__checkbox {
    margin-top: 3%;
    @include futura-font(1rem, inherit, none);

    @media screen and (max-width: 768px) {
      margin: 3% 0 9%;
    }

    .form__checkbox-label {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 768px) {
        justify-content: flex-start;
      }
    }

    input {
      position: relative;
      left: 18px;
      opacity: 0;

      &:checked + .form__checkmark::after {
        display: block;
      }

      @media screen and (max-width: 768px) {
        position: absolute;
      }
    }

    .form__checkmark {
      position: relative;
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      margin-right: 7px;
      border-radius: 2px;
      background-color: $gold_color;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        display: none;
        top: 3px;
        left: 6px;
        width: 4px;
        height: 7px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance:textfield;
}