.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-txt {
    @include futura-font(14px, $gold_color, uppercase);
    cursor: pointer;
  }

  .menu-wrap {
    width: 40%;

    @media screen and (max-width: 1070px) {
      display: none;
    }
  }

  .menu-item {
    display: flex;
    justify-content: space-between;

    a {
      @include futura-font(14px, $white_color, uppercase);
      text-decoration: none;
      transition: color .2s ease-out;

      &:hover {
        color: $gold_color;
      }
    }
  }

  .contact-phone {
    @include futura-font(14px, inherit, none);
    color: $gold_color;

    @media screen and (max-width: 1070px) {
      color: $white_color;
    }
  }
}
