%pagination-btn {
  display: flex;
  align-items: center;

  .pagination-counter {
    margin-bottom: 22px;
    @include yeseva-font(1.13rem, $white_color, none);
  }

  .control-left-arrow {
    width: 42px;
    height: 14px;
    margin-right: 30px;
    transform: rotate(180deg);
    background-image: url("../assets/img/arrow-raw.png");
    cursor: pointer;
    transition: width .5s ease-out;

    &:hover {
      width: 84px !important;
    }
  }

  .control-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;

    &_active {
      width: 13px;
      height: 13px;
      background-color: $white_color;
      cursor: pointer;
    }
  }

  span:not(:last-of-type) {
    margin-right: 18px;
  }

  .control-right-arrow {
    width: 42px;
    height: 14px;
    margin-left: 30px;
    background-image: url("../assets/img/arrow-raw.png");
    cursor: pointer;
    transition: width .5s ease-out;

    &:hover {
      width: 84px !important;
    }
  }
}
