@mixin section-title($h2_color, $bckg_img) {
  h2 {
    text-align: center;
    @include yeseva-font(1.25rem, $h2_color, uppercase);
    line-height: 1.75rem;
  }

  .section__title-icon {
    position: relative;
    width: 37px;
    height: 28px;
    margin: 13px auto 0;
    background: $bckg_img no-repeat;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 140%;
      width: 32px;
      height: 1px;
      background-color: $gold_color;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 140%;
      width: 32px;
      height: 1px;
      background-color: $gold_color;
    }
  }
}
