// text-colors
$gold_color: #e3b873;
$white_color: #fff;
$dark_color: #363636;
$darkness_color: #181818;
$grey_color: #959595;

// btn-colors
$bckg-btn: #e3b873;
$link-color-btn: #fff;

// bacground colors
$back-dark: #131313;
$mob_back: #252525;

// fonts
$font-futura: "Futura", sans-serif;
$font-yeseva: "Yeseva One", cursive;